body {
    background-image: url("pexels-monoar-rahman-22660-100733.jpg");
    background-size: cover;
}

.page-title{
    display: flex;
    justify-content: center;
    color: beige;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75%, -50%);
    width: 50vh;
    background-color: transparent;
    border: 2px solid gray;
    border-radius: 2rem;
    padding: 1.2rem;
}

.container header h3 {
    color: goldenrod;
    text-align: center;
}

.set-alarm {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.8rem;
}

.set-alarm form select {
    color: burlywood;
    background-color: transparent;
    border-radius: 3.1rem;
}

.set-alarm form select option {
    background-color: cadetblue;
}

.set-alarm button {
    background-color: #010b7e;
    color: white;
    width: 5.6rem;
    height: 1.6rem;
    border-radius: 4px;
}

.alarms_p {
    color: antiquewhite;
}

.alarm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1.8rem;
    border-radius: 4px;
    background-color: #bbb98b;
    margin-bottom: 5px;
}

.alarm p {
    margin-left: 5px;
}

.alarm i {
    font-size: 1.2rem;
    color: #b70f4b;
    margin-right: 4px;
}